* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}

.site-header {
	width: 100vw;
	height: 60vh;
	background: url("./assets/img1.jpg") center/cover;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10vh
}


.input {
	-webkit-appearance: none;
	width: 50%;
	border: 0;
	font-family: inherit;
	padding: 12px 0;
	height: 48px;
	font-size: 2rem;
	font-weight: 400;
	color: #ffffff;
	background: none;
	border: 2px solid #c8ccd4;
	border-radius: 0;
	padding-left: 10px;
	transition: all 0.5s ease;
}

::placeholder {
	color: #d8d8d8;
	transition: 0.3s;
}

.input:focus {
	background: rgba(0, 0, 0, 70%);
}

.submit-arrow {
	cursor: pointer;
	width: 50px;
	height: 50px;
	background: url("./assets/arrow.png") center/cover;
	border: none;
}

.no-result {
	font-size: 1.5rem;
	color: #5e5e5e;
	text-align: center;
	margin-top: 23vh;
}

.loading {
	width: 100px;
	margin-left: 45%;
	margin-top: 3%;
}

@media screen and (max-width: 992px) {
	.input {
		width: 80%;
		font-size: 1rem;
	}

	.site-header {
		width: 100vw;
		height: 50vh;
	}

	.loading {
		margin-left: 35%;
	}
}